<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="404.css" />
</head>

<body>
    <main>
        <div class="container">
            <h1>404</h1>
            <h2>Page does not exist! </h2>
            <p>Unless you were looking for this error page, in which case you find it!</p>
        </div>
    </main>
</body>